<<<<<<< HEAD
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 34px;
    overflow-wrap: normal;
    background: url("https://cdn.pixabay.com/photo/2017/12/23/09/23/chair-3034956_960_720.jpg");
    background-repeat: round;
    
  }

  html {
    overflow: hidden;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
  }
  
  /* sticky footer styling */
  
  /* https://css-tricks.com/snippets/css/sticky-footer/ */
  
  html,
  body {
    height: 100%;
  }
  
  .wrapper {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -105px;
  }
  
  footer,
  .push {
    height: 205px;
  }
  
  /* end sticky footer styling */
  
  /* start hover styling */
  
  #logo:hover,
  input[type=submit]:hover {
    background: #5e7f7e;
  }
  
  nav a:hover {
    color: #5e7f7e;
  }
  
  .social:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  /* end hover styling */
  
  /* general styling */
  
  .container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    clear: both;
  }
  
  h1,
  h2,
  h3,
  p {
    margin-bottom: 20px;
    color: #22181C;
  }
  .nav-content {
    background-color: #2f4582;
    text-decoration-color: #2F4858;
  }

  p:last-child {
    margin-bottom: 0;
  }
  
  h1,
  h2,
  h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color: #AF0F23;
  }
  
  h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
  }
  
  h2,
  h3 {
    font-size: 22px;
  }
  
  /* header */
  
  #masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #22181C;
    border-bottom: 2px solid #ccc;
  }
  
  #logo {
    float: left;
    width: 400px;
    height: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    color: #AF0F23;
    text-align: center;
    text-decoration: none;
    background: #22181C;
  }
  
  nav {
    float: right;
    margin-top: 25px;
  }
  
  nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #F6E8EA;
    text-decoration: none;
    border-left: 1px solid #AF0F23;
  }
  
  nav a:first-child {
    border-left: 0 none;
  }
  
  /* footer */
  
  footer {
    padding: 30px;
    margin-bottom: 100px;
    clear: both;
    font-size: 12px;
    color: #F6E8EA;
    color: #ccc;
    text-align: center;
    background: #22181C;
    border-top: 8px solid C#AF0F23;
    
  }
  
  /* sidebar */
  
  .sidebar {
    float: right;
    width: 100%;
    max-width: 270px;
    padding: 30px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #ddd;
  }
  
  h3,
  .sidebar h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
  }
  
  .social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
  }
  
  .social:last-child {
    margin-right: 0;
  }
  
  /* main */
  
  #main-container {
    padding-top: 130px;
  }
  
  .main-section {
    float: left;
    width: 100%;
    max-width: 700px;
    padding: 30px;
    margin: 0px 0 40px 300px;
    background: #fff;
    border: 2px solid #ddd;
  }
  
  .png {
    max-width: 50%;
      height: auto;
  }


  .img-fluid {
      max-width: 50%;
      height: auto;
  }
 
  /* contact page */
  
  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #F13030;
    border: 0 none;
  }
  
  /*portfolio page*/

  .train, .wireframe, .dance{
    align-items: center;
    

=======
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 34px;
    overflow-wrap: normal;
    background: url("https://cdn.pixabay.com/photo/2017/12/23/09/23/chair-3034956_960_720.jpg");
    background-repeat: round;
    
  }

  html {
    overflow: hidden;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
  }
  
  /* sticky footer styling */
  
  /* https://css-tricks.com/snippets/css/sticky-footer/ */
  
  html,
  body {
    height: 100%;
  }
  
  .wrapper {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -105px;
  }
  
  footer,
  .push {
    height: 205px;
  }
  
  /* end sticky footer styling */
  
  /* start hover styling */
  
  #logo:hover,
  input[type=submit]:hover {
    background: #5e7f7e;
  }
  
  nav a:hover {
    color: #5e7f7e;
  }
  
  .social:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  /* end hover styling */
  
  /* general styling */
  
  .container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    clear: both;
  }
  
  h1,
  h2,
  h3,
  p {
    margin-bottom: 20px;
    color: #22181C;
  }
  .nav-content {
    background-color: #2f4582;
    text-decoration-color: #2F4858;
  }

  p:last-child {
    margin-bottom: 0;
  }
  
  h1,
  h2,
  h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color: #AF0F23;
  }
  
  h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
  }
  
  h2,
  h3 {
    font-size: 22px;
  }
  
  /* header */
  
  #masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #22181C;
    border-bottom: 2px solid #ccc;
  }
  
  #logo {
    float: left;
    width: 400px;
    height: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    color: #AF0F23;
    text-align: center;
    text-decoration: none;
    background: #22181C;
  }
  
  nav {
    float: right;
    margin-top: 25px;
  }
  
  nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #F6E8EA;
    text-decoration: none;
    border-left: 1px solid #AF0F23;
  }
  
  nav a:first-child {
    border-left: 0 none;
  }
  
  /* footer */
  
  footer {
    padding: 30px;
    margin-bottom: 100px;
    clear: both;
    font-size: 12px;
    color: #F6E8EA;
    color: #ccc;
    text-align: center;
    background: #22181C;
    border-top: 8px solid C#AF0F23;
    
  }
  
  /* sidebar */
  
  .sidebar {
    float: right;
    width: 100%;
    max-width: 270px;
    padding: 30px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #ddd;
  }
  
  h3,
  .sidebar h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
  }
  
  .social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
  }
  
  .social:last-child {
    margin-right: 0;
  }
  
  /* main */
  
  #main-container {
    padding-top: 130px;
  }
  
  .main-section {
    float: left;
    width: 100%;
    max-width: 700px;
    padding: 30px;
    margin: 0px 0 40px 300px;
    background: #fff;
    border: 2px solid #ddd;
  }
  
  .png {
    max-width: 50%;
      height: auto;
  }


  .img-fluid {
      max-width: 50%;
      height: auto;
  }
 
  /* contact page */
  
  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #F13030;
    border: 0 none;
  }
  
  /*portfolio page*/

  .train, .wireframe, .dance{
    align-items: center;
    

>>>>>>> c22d8186149f27e8f5216fe3ccd10fb92fc72289
  }