


h1, h2 {
    color:#FCA311;
}

#bttn {
    background-color: #FCA311;
    border: #FCA311;
}

body {
    color: #14213D;
    background: url("https://cdn.pixabay.com/photo/2016/06/24/11/28/glasses-1477081_960_720.jpg");
    align-content: center;
}
#first-box{

}

#footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    margin: 0px;
}